BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
NamespaceIndentation: All
BreakBeforeBraces: Allman
PointerAlignment: Left
IndentPPDirectives: AfterHash
AlwaysBreakAfterReturnType: TopLevel
AllowShortFunctionsOnASingleLine: None

